/* Element Selectors */ 

h1 {
    color: red; 
}

/* Class Selector */ 

/*.title {
    color: purple; 
}*/

/* ID Selectors */ 

/*#title {
    color: orange; 
}*/

/* Attribute Selectors */ 

h1[class="title"] {
    font-size: 100px; 
}

/* Pseudo Class */

h1:hover {
    color: green; 
}

/* Combinator Selector */

header h1 {
    color: orange; 
}
